.news__header
{
	font-size: 20px;
	font-family: 'Cormorant Garamond - Semi Bold';
	font-weight: 400;

}
.news
{
	padding-left: 0;
}
.flag
{
	position: relative;
	left: 15px;
    top: 80px;
    width: 63px!important;

}
.news__text
{
	background: White;
	margin-top: -35px;
}
.news__menu__header
{
	font-size: 20px;
	font-family: 'Cormorant Garamond';
	font-weight: bold;
	margin-top: 33px;
}
.news__menu__text
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}