@import "navigation/navigation.css";
@import "News/news.css";
@import "Book/set.css";
@import "Regestration/regestr.css";
@import "Reviews/Revievers.css";
@import "Promo/promo.css";
@import "_media/media.css";
@import "../modal/jquery.modal.css";
@import "Window/windows.css";
.-center
{
	text-align: center;
}
.-col
{
	background: #f8f8fa;
}
.container__title
{
	/* Style for "Новости" */
width: 100px;
height: 14px;
color: #000000;
font-family: "Cormorant Garamond - Semi Bold";
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
text-align: center;
margin-left: 40px;
}
.news__background-text
{
width: 106px;
height: 110px;
color: #d9eafb;
font-family: 'Cormorant', serif;
font-size: 350px;
font-weight: 400;
top: -70px;
text-align: left;
margin-left: -50px;
text-transform: uppercase;
}
.bod
{
	min-width: 320px;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}