.promo__right
{
display: flex;
justify-content: center;
  align-items: center;
}

.promo__description {
  font-weight: bold;
  font-size: 22px;
  color: black;
  width: 300px;
 }

.promo__title {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: black;
}

.promo__button {
  width: 280px;
  height: 65px;
  margin-top: 45px;
}

.promo__image {
  margin-left: 80px;
}

.promo__left {
  z-index: 1;
  background: #f8f8fa;
}

.promo__right {
	height: 500px;
  flex-direction: column;
  background-color: #aaaaaa;
  background-image: linear-gradient(-124deg, #c2e9fb 0%, #a1c4fd 100%);
}
.promo__button 
{
	border-radius: 30px;
	border-color: #F8f8fa;
	background: #F8f8fa;
	

}
.promo__text_button
{
	
	font-size: 18px;
	 text-transform: uppercase;
	background-image: linear-gradient(to top, #f6d365 0%, #fda085 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: table;
  	margin: 20px auto;
	font-weight: bold;
	font-family: 'Roboto';
}
.promo
{
	margin-top: 0px;
}
.promo__overlay
{
  margin-left: 210px;
}