.reviews__description {
  margin-top: 20px;
  padding-left: 45px;
  padding-right: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

.reviews__image {
  width: 180px;
  background-image: linear-gradient(-74deg, #c2e9fd 0%, #a1c4fd 100%);
  padding: 50px 30px;
}

.reviews__item {
  display: flex;
  width: 600px;
  height: 260px;
  margin-right: 30px;
  background: white;
  box-shadow: -5px -4px 24px rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}

.reviews__list {
  display: flex;
}

.reviews__name {
  color: #64b4e2;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  font-size: 20px;
}

.reviews__person {
  display: flex;
  padding: 15px;
}

.reviews__person img {
  width: 80px;
  height: 80px;
}

.reviews__person .person__info {
  display: inline;
  margin-top: 20px;
  margin-left: 25px;
}

.reviews__person .person__info * {
  display: block;
}

.reviews__post {
  font-family: 'Cormorant Garamond';
  font-size: 20px;
  font-weight: bold;
}
.Reviews
{
  margin-bottom: 116px;
}
.container__title
{
  margin-bottom: 15px;
}